
<main><section class="home-slider owl-carousel img"
  style="background-image: url(images/360_F_215111823_Lnv1TnzN4tCgZinv34OXXtl4f3eGDZXO.jpg);">
  <div class="slider-item">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center" data-scrollax-parent="true">

        <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
          <span class="subheading">Make the dream</span>
          <h1 class="mb-4">We are Bind</h1>
          <p><a href="/orders/create" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="/learnMore"
              class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Learn more</a></p>
        </div>
        <div class="col-md-6 ftco-animate">
          <img src="images/shopping-bag (3).svg" class="img-fluid" alt="">
        </div>

      </div>
    </div>
  </div>
</section>


<section class="ftco-section ftco-services" style="background-image: url(images/PdJiN3.png);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4" style="color: white;">Our Services</h2>
        <p style="color: white;">What we offer:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon-diet"></span>
          </div>
          <div class="media-body">
            <h3 class="heading" style="color: white;">Get weekly grocerys</h3>
            <p style="color:#bb8b30;">Make order for your weekly groceries.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon-bicycle"></span>
          </div>
          <div class="media-body">
            <h3 class="heading" style="color: white;">Save time</h3>
            <p style="color:#bb8b30;">Almost 90% of the people shop every week. Whit DeliverIt you can save that time
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5"><span class="flaticon-pizza-1"></span>
          </div>
          <div class="media-body">
            <h3 class="heading" style="color: white;">Do not worry</h3>
            <p style="color:#bb8b30;">Even the all-powerful Pointing has no control about the blind texts it is an
              almost unorthographic.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="sec1" style="background-color: rgba(224, 224, 224, 0);">

  <div class="container12">
    <div class="item">
      <h1 class="mb-42">How it works</h1>
      <p class="mb-43">DeliverIt is the first of his kind. Our goal is to safe peoples time and enery while they can not
        worry about ther next eat.
        You can make and order and chouse what day and time you want to get your grosereys.
        That day, every week we will deliver you grossery to YOU.
        You can make changes every time you want to your order and can add one time predukts
        - produkts you want only for this week and do not want them to be deliver to you every week.</p>
    </div>
    <div class="mb-44 ">
      <img id="img12" src="images/Screenshot (1824).png" class="img-fluid" alt="">
    </div>

  </div>

</section>





<section class="ftco-services" style="background-image: url(images/963adc6cec85b0ffd4889be10f0c0031.jpg);">
  <div>
    <h1 class="mb-411" style="color: white;">Become a deliver</h1>
  </div>
  <div>

    <div class="slider-item home-slider owl-carousel img">
      <div class="container">
        <div class="row slider-text align-items-center" data-scrollax-parent="true">

          <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
            <span class="subheading">Make money when you want</span>
            <h1 class="mb-4">Start your dream with us</h1>
            <p><a href="/beADeliver" class="btn btn-primary p-3 px-xl-4 py-xl-3">Sing up</a> <a href="/beADeliver"
                class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Learn more</a></p>
          </div>
          <div class="col-md-6 ftco-animate">
            <img src="images/istockphoto-939051730-170667a.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>
    </div>

  </div>

</section>








<section style="background-color: rgba(241, 241, 236, 0.646);" class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">More from US</h2>
        <p>Make it togetherз</p>
      </div>
    </div>
    <div class="row d-flex">
      <div style="border-radius: 25% 10%" class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20"
            style="background-image: url('images/WorkWave-How-to-Add-a-Delivery-Service-For-Your-Business.jpg');">
          </a>
          <div class="text py-4 d-block">
            <p>Enjoy flexibility, freedom and competitive earnings by delivering through DeliverIt.</p>
          </div>
        </div>
      </div>
    <div  class="col-md-4 d-flex ftco-animate">
      <div class="blog-entry align-self-stretch">
        <a href="blog-single.html" class="block-20"
          style="background-image: url('images/handshake.jpg');">
        </a>
        <div class="text py-4 d-block">
          <p>Grow with DeliverIt! Our technology and user base can help you boost sales and unlock new opportunities!</p>
        </div>
      </div>
    </div>
      <div  class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20"
            style="background-image: url('images/210406-stock.jpg');">
          </a>
          <div class="text py-4 d-block">
            <p>Ready for an exciting new challenge? If you’re ambitious, humble, and love working with others, then we want to hear
            from you!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="ftco-appointment">
  <div class="overlay"></div>
  <div class="container-wrap">
    <div class="row no-gutters d-md-flex align-items-center">
      <div class="col-md-6 d-flex align-self-stretch">
        <div></div>
      </div>
      <div class="col-md-6 appointment ftco-animate">
        <h3 class="mb-3">Contact Us</h3>
        <form action="#" class="appointment-form">
          <div class="d-md-flex">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First Name">
            </div>
          </div>
          <div class="d-me-flex">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send" class="btn btn-primary py-3 px-4">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</main>