<main>

  <section class="home-slider owl-carousel img" style="background-image: url(images/Background-website-01.jpg);">
    <div class="slider-item">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text align-items-center" data-scrollax-parent="true">

          <div class="col-md-6 col-sm-12 ftco-animate">
            <h1 class="mb-4">Opportunity is everywhere</h1>
            <p>Make the most of your time on the road on the platform with the largest network of active
              riders.</p>
            <p><a href="/delivers/singup" class="btn btn-primary p-3 px-xl-4 py-xl-3">Sing up to deliver</a> <a
                href="/delivers/login" class="btn btn-secondary p-3 px-xl-4 py-xl-3">Have deliver account? Login</a></p>
          </div>
          <div class="col-md-6 ftco-animate">
            <img src="images/illustration-safety-01-1.png" class="img-fluid" alt="">
          </div>

        </div>
      </div>
    </div>


  </section>



























  <section class="first-section" style="background-color:#121618">
    <div>
      <div>
        <h2 id="makeM">Make money when you want</h2>
      </div>

      <div>
        <img id="peopleImg" src="images/Driveroverview.png" class="img-fluid" alt="">
      </div>





      <div>

        <div class="container14">
          <div class="item12">



            <div data-baseweb="block" class="css-iFiJuh">
              <div class="css-llNsBS">
                <div class="css-gAVfPz">
                  <div class="css-bAjYOe">
                    <div class="css-bgThKr">
                      <div class="css-eAlKuC">
                        <div style="height: 100%; width: 100%;"><img
                            src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535521901/assets/04/2e9cbe-6142-4d19-bea4-627a1967cc74/original/calendar.svg"
                            alt="Calendar Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="css-gAVfPz">
                  <div class="css-kXiMOI">
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-eRKiLo">
                        <div class="css-hPnljU">
                          <h3 class="css-eoQLkM">Set your own schedule</h3>
                        </div>
                      </div>
                    </div>
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-ggxDdj">
                        <div class="css-kqHVrb">
                          <p class="cmln__paragraph">You’re the boss. You can drive with the Uber app day or night. Fit
                            driving around your life, not the other way&nbsp;around.</p>
                        </div>
                      </div>
                    </div>
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>






          <div class="item12">
            <div data-baseweb="block" class="css-iFiJuh">
              <div class="css-llNsBS">
                <div class="css-gAVfPz">
                  <div class="css-bAjYOe">
                    <div class="css-bgThKr">
                      <div class="css-eAlKuC">
                        <div style="height: 100%; width: 100%;"><img
                            src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535521926/assets/34/56a7a3-6c7b-46fc-a8c6-91d3271b92bd/original/money.svg"
                            alt="Money Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="css-gAVfPz">
                  <div class="css-kXiMOI">
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-eRKiLo">
                        <div class="css-hPnljU">
                          <h3 class="css-eoQLkM">Make money on your terms</h3>
                        </div>
                      </div>
                    </div>
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-ggxDdj">
                        <div class="css-kqHVrb">
                          <p class="cmln__paragraph">The more you drive, the more money you can make. When demand is
                            higher
                            than normal, you can make even&nbsp;more.</p>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>


          <div class="item12">
            <div data-baseweb="block" class="css-iFiJuh">
              <div class="css-llNsBS">
                <div class="css-gAVfPz">
                  <div class="css-bAjYOe">
                    <div class="css-bgThKr">
                      <div class="css-eAlKuC">
                        <div style="height: 100%; width: 100%;"><img
                            src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535521963/assets/d3/c75f64-aac4-4df0-abd1-561b7ce4feab/original/support.svg"
                            alt="Support Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="css-gAVfPz">
                  <div class="css-kXiMOI">
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-eRKiLo">
                        <div class="css-hPnljU">
                          <h3 class="css-eoQLkM">Let the app lead the way</h3>
                        </div>
                      </div>
                    </div>
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-ggxDdj">
                        <div class="css-kqHVrb">
                          <p class="cmln__paragraph">Just tap and go. You get turn-by-turn directions,
                            suggestions to help you make more money, and 24/7&nbsp;support.</p>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </section>



  <section class="first-section" style="background-color:#f1f4f5">
    <div>
      <div>
        <h2 id="makeM1" class="css-fOwPKV">Get started</h2>
      </div>



      <div>

        <div class="css-gIGlzb">
          <div class="css-PKJb">
            <div data-baseweb="tab-list" role="tablist" aria-orientation="horizontal" class="css-gDbJnv">
              <div data-baseweb="tab-highlight" aria-hidden="true" role="presentation" class="css-bogKJL"></div>
            </div>
          </div>
          <div data-baseweb="tab-border" aria-hidden="true" role="presentation" class="css-eoZyEX"></div>
          <div data-baseweb="tab-panel" role="tabpanel" id="tabs-bui3-tabpanel-0" aria-labelledby="tabs-bui3-tab-0"
            class="css-iHXJtn">
            <div class="css-hhgccZ">
              <div class="css-ygIAx">
                <ul role="region" aria-label="Gallery" class="css-hQFXjR">
                  <li>
                    <div class="css-diqTJF">
                      <div class="css-gAVfPz">
                        <div class="css-bAjYOe">
                          <div class="css-bgThKr">
                            <div class="css-eAlKuC">
                              <div style="height: 100%; width: 100%;"><img //
                                  src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535522671/assets/13/d90c65-0e16-40a4-950e-f8a7d9d68f2e/original/requirement.svg"
                                  alt="Star Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="css-gAVfPz">
                        <div class="css-cYTjpz">
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-eRKiLo">
                              <div class="css-hPnljU">
                                <h3 style="color: #000000;" class="css-eoQLkM">Sign up</h3>
                              </div>
                            </div>
                          </div>
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-jUAbBJ">
                              <div class="css-kqHVrb">
                                <p class="cmln__paragraph">Just tell us which city you'd like to drive in and the type
                                  of license you have. We'll email you with your next&nbsp;steps.</p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="css-diqTJF">
                      <div class="css-gAVfPz">
                        <div class="css-bAjYOe">
                          <div class="css-bgThKr">
                            <div class="css-eAlKuC">
                              <div style="height: 100%; width: 100%;"><img
                                  src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535522710/assets/8e/cc5c27-1604-4e6f-ad4d-11fec148143a/original/document.svg"
                                  alt="Document Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="css-gAVfPz">
                        <div class="css-cYTjpz">
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-eRKiLo">
                              <div class="css-hPnljU">
                                <h3 style="color: #000000;" class="css-eoQLkM">Check delivering requirements</h3>
                              </div>
                            </div>
                          </div>
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-jUAbBJ">
                              <div class="css-kqHVrb">
                                <p class="cmln__paragraph">All kinds of people are eligible to deliver with Bind. Here’s
                                  what you need to know if you’re delivering in&nbsp;Europe.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                    <div class="css-diqTJF">
                      <div class="css-gAVfPz">
                        <div class="css-bAjYOe">
                          <div class="css-bgThKr">
                            <div class="css-eAlKuC">
                              <div style="height: 100%; width: 100%;"><img
                                  src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535522753/assets/08/1702e0-ec8f-4ae4-8a80-110110732fb9/original/documentCheck.svg"
                                  alt="Document Check Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="css-gAVfPz">
                        <div class="css-cYTjpz">
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-eRKiLo">
                              <div class="css-hPnljU">
                                <h3 style="color: #000000;" class="css-eoQLkM">Get a vehicle</h3>
                              </div>
                            </div>
                          </div>
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-jUAbBJ">
                              <div class="css-kqHVrb">
                                <p class="cmln__paragraph">You can sign up even if you don't have a car or type of
                                  vehicle that will help you. Registering through a ...insert a affiliate partner...
                                  could give you
                                  access to a car if&nbsp;needed.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>


                </ul>
              </div>
            </div>
          </div>
        </div>







      </div>
    </div>
  </section>




</main>