

<main>


<section class="s11">
  <div class="container00">
      <div class="text00">
         Make an Order
      </div>
      <form method="POST">
         <div class="form-row00">
            <div class="input-data">
               <input type="text00" id="fullname" name="fullname"required />
               <div class="underline"></div>
               <label for="fullname">Full name</label>
            </div>
            <div class="input-data">
               <input type="text00" id="address" name="address" required />
               <div class="underline"></div>
               <label for="address">Address</label>
            </div>
         </div>
         <div class="form-row00">
            <div class="input-data">
              <input type="text00" id="dayForDelivery" name="dayForDelivery" required/>
               <div class="underline"></div>
               <label for="">Preffered day for delivery</label>
            </div>
            <div class="input-data">
              <input type="text00" id="timeForDelivery" name="timeForDelivery"required />
               <div class="underline"></div>
               <label for="">Preffered time for delivery</label>
            </div>
         </div>
         <div class="form-row00">
         <div class="input-data textarea">
           <textarea id="order" name="order" rows="8" cols="80" required></textarea >
            <br />
            <div class="underline"></div>
            <label for="">Order</label>
            <br />
            <div class="form-row00 submit-btn">
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="submit" value="Order">
               </div>
            </div>
      </form>
      </div>
</section>
</main>
